.container {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    margin-top: 75px;
    margin-bottom: 1rem;
    justify-content: left;
    margin-left: 50px;
    margin-right: 50px;
  }

  .subscriptions {
    display: flex;
    flex-direction: column;
    align-items: left;
  }