.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.form {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.input {
  margin-bottom: 1rem;
}

.input:last-child {
  margin-bottom: 0;
}

.hoverable {
  transition: filter 300ms;
  cursor: pointer;
}

.hoverable:hover {
  filter: brightness(0.8);
}