.container {
  display: flex;
  width: 100vw;
}

.comicPanel {
  width: 75vw;
  height: 90vh;
}

.commentsContainer {
  height: 90vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.commentsBody {
  overflow: scroll;
}

.newCommentContainer {
  background-color: #186ed1;
}

.innerNewCommentContainer {
  background-color: white;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.newCommentInput {
  height: 10vh;
}

.commentCard {
  border-bottom: solid black 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 10px 0px 10px;
}

.submitButton {
  min-height: 50px;
}
