.coverImage {
  width: 100vw;
  height: 400px;
  object-fit: cover;
}

.body {
  padding: 5vw 5vw 5vw 5vw;
  font-size: 24px;
}

.summary {
  display: flex;
  justify-content: space-between;
}

.comicSnapshot {
  display: flex;
  align-items: flex-start;
}

.metadata {
  margin-right: 5vw;
}

.headerMargin {
  margin-block-start: 10px;
  margin-bottom: 0;
  margin-right: 1rem;
}

.description {
  width: 40vw;
}

.comicList {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
}
