.footer {
  background: lightgray;
  padding: 2rem 10rem;
  min-height: 3rem;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 0 5rem 0 0;
}

.column:last-child {
  margin: 0;
}

.copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}