.navbar {
  width: 100vw;
  height: 4rem;
  position: fixed;
  top: 0px;

  background-color: var(--blue);

  /* fonts */
  color: white;
  font-size: 1.5rem;
  z-index: 300;
}

/* Ensures that content does not INITIALLY appear under navbar.
   When scrolling, it'll scroll under it. */
.navbarDisplacement {
  height: 4rem;
}

.navbarNav {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 1500px;
}

.navbarItem {
  padding: 1px;
  margin: 0 1.5rem;
  min-width: max-content;
}

.logo {
  font-size: 2rem;
  font-style: italic;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo:hover {
  text-decoration: none;
}

.searchbar {
  width: 100%;
  margin: 0 auto;

}

/* Remove underlines except when hovered */
a {
  text-decoration: none;
  color: inherit;
}

.iconButton {
  margin: 2px 1rem 0 0;
  transition: filter 300ms;
  cursor: pointer;
}

.iconButton:hover {
  filter: brightness(0.8);
}

.hoverable {
  transition: filter 300ms;
  cursor: pointer;
}

.hoverable:hover {
  filter: brightness(0.8);
}

.flexCenter {
  display: flex;
  align-items: center;
}