:root {
  /* Var definitions */
  --blue: #186ed1;
  --lightblue: #96c7ff;
  --darkblue:#004ea7;

  font-size: calc(10px + 0.5vmin);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


